$grayColor: #989898;
$bluePrimary: #00acee;
$orangePrimary: #f0592a;
$white: #fff;
$black: #000;
$star: #FDD734;

$pagination-background: $white;
$pagination-border: rgba(0, 0, 0, 0.1);

$hover-on-white-background: #EEEFF3;

$border: #d3dbe0;
$shadow: #ccc;

$toast_error: #ff623d;
$toast_success: #3dff94;
