html {
    font-size: 62.5%;
    line-height: 1.6rem;   
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}

$grayColor: #989898;
$bluePrimary: #00ACEE;
$orangePrimary: #F0592A;

.category {
    margin-left: 32px;
    margin-bottom: 50px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    &__heading {
        margin-top: 52px;
        margin-right: 52px;
        margin-bottom: -40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $bluePrimary;

        &-name {
            font-size: 2.8rem;
            font-weight: 700;
        }

        &-specific {
            font-size: 2rem;
            text-decoration: none;
            color: $bluePrimary;
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            &:hover .category__heading-icon {
                animation: moveToRight 0.3s linear;
                animation-fill-mode: forwards;
            }
        }

        &-icon {
            margin-left: 4px;
            font-size: 2rem;
        }

    }

    @keyframes moveToRight {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(5px);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }

    &__item {
        position: relative;
        width: 300px;
        margin-top: 32px;

        &-link {
            
            &:hover {
                .category__img {
                    cursor: pointer;
                    border: none;
                    animation: MidFadeIn 1s ease;
                    animation-fill-mode: forwards;
                }

                .category__button {
                    display: block;
                    animation: FadeIn 0.5s ease;
                }
            }

        }
    }

    &__button {
        text-decoration: none;
        background-color: white;
        padding: 10px 16px;
        font-size: 1.6rem;
        border-radius: 25px;
        position: absolute;
        top: 27%;
        right: 27%;
        border: none;
        display: none;
        color: black;
    }

    &__img {
        width: 100%;
        height: 170px;
        border-radius: 20px;
        border: none;  
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin-top: 8px;
        font-size: 1.8rem;
        text-decoration: none;
        color: black;
        line-height: 2rem;
    }

    &__info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
    }

    &__icon {
        color: $grayColor;
        font-size: 1.8rem;
        margin-right: 6px;
        margin-top: 8px;
        
        &-quan {
            font-size: 3rem;
            margin-right: 12px;
            margin-top: 16px;
        }
    }

    &__quan {
        color: $grayColor;
        font-size: 3rem;
        font-weight: 500;
    }
    
    &__update {
        color: $grayColor;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__update-and-function {
        display: flex;
        flex-direction: column;
    }
    
    &__function {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 8px;

        &-bm {
            color: $bluePrimary;

            &:hover {
                cursor: pointer;
                animation: moveUp 0.3s linear;
                animation-fill-mode: forwards;
            }
        }

        &-later {
            color: $orangePrimary;
            &:hover {
                cursor: pointer;
                animation: moveUp 0.3s linear;
                animation-fill-mode: forwards;
            }
        }   
    }

}

@keyframes moveUp {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-4px);
    }
}

@keyframes MidFadeIn {
    from {
        filter: brightness(30%);
        // -webkit-filter: brightness(0%);
    }

    to {
        filter: brightness(50%);
        // -webkit-filter: brightness(50%);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
